# Dependencies
node_modules/
.npm

# Build outputs
dist/
build/
.next/
out/

# Turbo
.turbo/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/

# Docker volumes
postgres-data/
tmp_changes/
*.zip
client_secret_871717360543-r61nrqnvv7a5785rprja2to1tbkbg0ln.apps.googleusercontent.com.json